/* MIXIN FLEX */
* {
  margin: 0;
  padding: 0; }

.body {
  background-image: url(../img/fondo.jpg); }

.body_sobremi {
  background-image: url(../img/fondoazul.jpg); }

.body_portfolio {
  background-image: url(../img/fondoblanco.jpg); }

.header {
  position: sticky;
  top: 0;
  z-index: 1; }

.encabezado {
  background-color: #414698;
  width: 100%;
  height: 30px;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center !important;
  margin: 0 auto; }

.encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5 {
  color: #ffdd55;
  font-family: 'Staatliches', cursive;
  font-size: 19px; }

.encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4 {
  color: #e26628;
  font-family: 'Staatliches', cursive;
  font-size: 18px; }

.logo_marca {
  color: #ffdd55;
  font-family: 'Staatliches', cursive;
  margin-left: 25px;
  margin-right: 25px; }

/* NAV */
.nav-link {
  text-decoration: none;
  text-decoration: #fff; }

.nav-link.active {
  color: #ffdd55 !important; }

.navbar-expand-lg {
  background-color: #e26628;
  margin-bottom: 20px;
  height: 60px; }

.navbar-toggler {
  color: #e26628 !important;
  background-color: #ffdd55 !important;
  width: 40px;
  height: 30px; }

.navbar-toggler-icon {
  background-color: #ffdd55;
  width: 15px;
  height: 20px;
  margin-top: -5px; }

.nav-link, .dropdown-item {
  color: #fff !important; }

.nav-link:hover {
  color: #ffdd55 !important; }

.dropdown-item:hover {
  background-color: #e26628;
  color: #ffdd55 !important; }

.dropdown-menu {
  background-color: #e26628; }

.navbar-collapse {
  background-color: #e26628;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px; }

.carita:hover, .carita2:hover {
  transform: scale(1.2); }

.ventana {
  background-color: #e26628;
  height: 50px;
  width: 60%;
  margin-left: 20%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  border: 3px solid #414698;
  box-shadow: 7px 5px 0px #e26628; }

.minimizar {
  background-color: #414698;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.maximizar {
  background-color: #414698;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cerrar {
  background-color: #414698;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.icons {
  color: aliceblue;
  font-family: "Fugaz One", cursive; }

.ventana_nombre {
  background-color: aliceblue;
  height: 310px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
  border: 3px solid #414698;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  box-shadow: 7px 5px 0px #e26628;
  position: relative; }

.lucas {
  font-family: "Fugaz One", cursive;
  color: #e26628;
  font-size: 80px;
  text-shadow: 0.3rem 0.2rem #ffdd55;
  margin-top: 30px; }

.ventana_carita {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -40px;
  top: 130px; }

.dosdos {
  font-family: "Fugaz One", cursive;
  color: #ffdd55;
  font-size: 60px;
  text-shadow: -0.3rem 0.1rem #e26628; }

.bienvenido {
  width: 200px;
  height: 60px;
  background-color: aliceblue;
  border: 2px solid #e26628;
  border-radius: 1rem;
  font-family: "Fugaz One", cursive;
  font-size: 25px;
  color: #e26628;
  display: flex;
  justify-content: center;
  align-items: center; }

button svg {
  width: 25px;
  height: 25px;
  margin-left: 6px;
  color: #e26628;
  transition: transform 0.3s; }

button:hover svg {
  transform: scale(1.2); }

.ventana2 {
  background-color: #414698;
  height: 50px;
  width: 70%;
  margin-left: 15%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  border: 3px solid #414698;
  box-shadow: 7px 5px 0px #e26628; }

.ventana_perfil {
  background-color: aliceblue;
  height: 280px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 50px;
  border: 3px solid #414698;
  border-top: none;
  box-shadow: 7px 5px 0px #e26628;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.minimizar2 {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.maximizar2 {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cerrar2 {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.ventana_perfil img {
  width: 200px;
  height: 200px; }

.chat-bubble {
  --c: #ff703b;
  background: var(--c);
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;
  position: relative;
  border-radius: 0 0.25em 0.25em 0.25em;
  height: auto;
  width: 50%;
  display: flex;
  align-items: center; }

.chat-bubble::after {
  content: "";
  position: absolute;
  border: 0.5em solid transparent;
  border-top-color: var(--c);
  border-right-color: var(--c);
  right: 100%;
  top: 0%;
  transform: skewY(20deg);
  transform-origin: 100% 100%; }

/* SOBRE MI */
.sobremi_titulo {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 2px #414698;
  font-size: 60px;
  text-shadow: -0.3rem 0.3rem #414698;
  text-align: center; }

.estudios_barra {
  background-color: #ffdd55;
  height: 30px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  border: 2px solid #414698;
  box-shadow: -7px 5px 0px #414698; }

.estudios_contenido {
  background-color: aliceblue;
  height: 340px;
  width: 100%;
  border: 2px solid #414698;
  border-top: none;
  padding-top: 20px;
  box-shadow: -7px 5px 0px #414698;
  padding-left: 20px; }

.perfil_barra {
  background-color: #ffdd55;
  height: 30px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  border: 2px solid #414698;
  box-shadow: -7px 5px 0px #414698; }

.perfil_contenido {
  background-color: aliceblue;
  height: 185px;
  width: 100%;
  border: 2px solid #414698;
  border-top: none;
  box-shadow: -7px 5px 0px #414698;
  padding-top: 10px;
  padding-left: 20px; }

.herramientas_barra {
  background-color: #ffdd55;
  height: 30px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  border: 2px solid #414698;
  box-shadow: -7px 5px 0px #414698; }

.herramientas_contenido {
  background-color: aliceblue;
  height: auto;
  width: 100%;
  border: 2px solid #414698;
  border-top: none;
  box-shadow: -7px 5px 0px #414698;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px; }

.sobremi {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  max-height: auto;
  margin-bottom: 60px; }

.sobremi_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 215px 370px;
  grid-template-areas: "titulo2 herramientas2" "perfil2 herramientas2" "estudios2 herramientas2";
  gap: 20px 30px; }

.titulo {
  grid-area: titulo2; }

.perfil {
  grid-area: perfil2; }

.estudios {
  grid-area: estudios2; }

.herramientas {
  grid-area: herramientas2; }

.sobremi_items {
  margin-top: 20px;
  display: flex;
  flex-direction: row; }

.sobremi_subtitulo {
  color: #414698;
  font-family: "Fugaz One", cursive;
  font-size: 20px;
  margin-bottom: 10px; }

.bi-journal, .bi-journal-code, .bi-journal-album, .bi-person, .bi-calendar, .bi-pin-map {
  color: #414698;
  margin-bottom: 5px; }

.sobremi_p {
  color: #414698;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  margin-right: 20px; }

label {
  padding-right: 10px;
  font-size: 15px; }

.medidor {
  width: 50%;
  height: 20px;
  appearance: none;
  -webkit-appearance: none; }

.medidor::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
  border: 3px solid #414698; }

.medidor::-webkit-progress-value {
  background-color: #414698;
  border-radius: 10px; }

.barra {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between; }

.barra_texto {
  color: #414698;
  font-family: "Roboto", sans-serif; }

/* PORTFOLIO VIDEOS */
.portfolio_barra {
  background-color: #70b72d;
  height: 20px;
  width: 100%;
  border: 2px solid #414698;
  box-shadow: -7px 12px 0px #414698; }

.video_video {
  width: 80%;
  max-height: 400px;
  box-shadow: 8px 6px 0px #e26628;
  margin-left: 10%; }

.portfolio_contenido {
  background-color: aliceblue;
  height: 200px;
  width: 100%;
  border: 2px solid #414698;
  border-top: none;
  box-shadow: -7px 12px 0px #414698;
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio_subtitulo {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 0.01px #414698;
  font-size: 50px;
  text-shadow: -0.2rem 0.1rem #414698;
  text-align: center; }

.trabajo_titulo {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 0.01px #414698;
  font-size: 50px;
  text-shadow: -0.3rem 0.1rem #414698;
  text-align: center; }

.col-sm-6 {
  justify-content: center !important;
  gap: 20px !important; }

.row {
  justify-content: center !important; }

.trabajo_subtitulo {
  color: #e26628;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 0.01px #414698;
  font-size: 50px;
  text-shadow: -0.3rem 0.1rem #fff;
  text-align: center;
  margin-left: 10%; }

.chat-bubble2 {
  --c: #414698;
  background: var(--c);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0.5em 1em;
  position: relative;
  border-radius: 0 0.25em 0.25em 0.25em;
  height: auto;
  width: 75%;
  margin-left: 15%;
  display: flex;
  align-items: center; }

.chat-bubble2::after {
  content: "";
  position: absolute;
  border: 0.5em solid transparent;
  border-top-color: var(--c);
  border-right-color: var(--c);
  right: 100%;
  top: 0%;
  transform: skewY(20deg);
  transform-origin: 100% 100%; }

.portfolio_subtitulo2 {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 0.01px #414698;
  font-size: 40px;
  text-shadow: -0.3rem 0.2rem #414698;
  text-align: center; }

.col-sm {
  width: 320px; }

.card {
  margin-bottom: 20px; }

.card1 {
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%; }

.card-title {
  font-family: "Fugaz One", cursive;
  color: #ffdd55; }

.card-body {
  background-color: #414698; }

.card-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

.btn {
  background-color: #e26628 !important;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

.modal-title {
  font-family: "Fugaz One", cursive;
  color: #414698; }

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e26628;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px #ffdd55; }

.button:hover {
  background-color: #ef7335; }

.button:active {
  background-color: #e26628;
  box-shadow: 3px 3px #f9cc19;
  transform: translateY(4px); }

.box3 {
  width: 80%;
  margin-left: 10%;
  height: auto;
  border-radius: 15px;
  background: #e26628;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  position: relative; }

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e26628;
  border-top: 15px solid #e26628;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px; }

.portfolio_video {
  width: 100%; }

.imagen_web {
  width: 100%; }

.portfolio_video iframe {
  width: 100%; }

.container {
  margin-bottom: 30px;
  justify-content: center !important; }

/* CONTACTO */
.contacto_subtitulo {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 2px #414698;
  font-size: 50px;
  text-shadow: -0.3rem 0.2rem #e26628;
  text-align: center; }

.contacto_barra {
  background-color: #414698;
  height: 30px;
  width: 50%;
  margin-left: 25%;
  border: 3px solid #414698;
  box-shadow: -10px 12px 0px #e26628; }

.container_contacto {
  background-color: white;
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 70px;
  border: 3px solid #414698;
  border-top: none;
  box-shadow: -10px 12px 0px #e26628;
  padding: 30px; }

label {
  color: #414698;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem; }

::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem; }

.btn {
  margin-top: 20px;
  background-color: #414698 !important; }

.redes_subtitulo {
  color: #ffdd55;
  font-family: "Fugaz One", cursive;
  -webkit-text-stroke: 2px #414698;
  font-size: 45px;
  text-shadow: -0.3rem 0.2rem #e26628;
  text-align: center; }

.redes {
  width: 80%;
  height: 100px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px; }

.redes_sociales {
  width: 50%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 20px;
  margin-right: 40px; }

.redes_sociales svg {
  color: #414698; }

.redes_sociales svg:hover {
  color: #e26628; }

.box4 {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background: #e26628;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative; }

.sb15:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e26628;
  border-top: 15px solid #e26628;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px; }

.box4 svg {
  margin-right: 10px; }

.contacto_enviar {
  background-color: #414698;
  color: #fff;
  font-family: "Fugaz One", cursive;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }

/* FOOTER */
.footer {
  color: white;
  background-color: #414698;
  height: 70px;
  width: 100%;
  gap: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around; }

.footer_titulo {
  font-family: "Fugaz One", cursive;
  font-size: 16px;
  margin-bottom: -5px; }

.footer_subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-bottom: -3px; }

.footer_copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer_redes {
  display: flex;
  gap: 10px; }

.footer_redes svg {
  color: white; }

.footer_redes svg:hover {
  color: #ffdd55;
  transform: scale(1.2); }

/* MEDIA QUERYS */
@media screen and (max-width: 1024px) {
  .carita, .carita2 {
    display: none !important; }
  .encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5 {
    font-size: 17px; }
  .encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4 {
    font-size: 15px; }
  .logo_marca {
    margin-left: 10px;
    margin-right: 10px; }
  .ventana_nombre {
    background-color: aliceblue;
    height: 280px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: 5px 3px 0px #e26628; }
  .ventana {
    background-color: #eb5b29;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    border: 2px solid #414698;
    box-shadow: 5px 3px 0px #e26628; }
  .minimizar {
    width: 25px;
    height: 25px; }
  .maximizar {
    width: 25px;
    height: 25px; }
  .cerrar {
    width: 25px;
    height: 25px;
    margin-right: 1rem; }
  .icons {
    color: aliceblue;
    font-size: 15px; }
  .lucas {
    font-size: 80px;
    text-shadow: 0.2rem 0.1rem #ffdd55;
    margin-top: 20px; }
  .dosdos {
    font-size: 40px;
    text-shadow: -0.2rem 0.1rem #eb5b29; }
  .bienvenido {
    width: 180px;
    height: 40px;
    background-color: aliceblue;
    border: 2px solid #eb5b29;
    border-radius: 0.5rem;
    font-size: 20px; }
  .minimizar2 {
    width: 30px;
    height: 30px;
    text-align: center; }
  .maximizar2 {
    width: 30px;
    height: 30px;
    text-align: center; }
  .cerrar2 {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 1rem; }
  .icons {
    color: aliceblue; }
  .ventana_perfil {
    height: 500px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
    border: 3px solid #414698;
    border-top: none;
    box-shadow: 7px 5px 0px #e26628;
    flex-direction: column; }
  .ventana_perfil img {
    margin-bottom: 20px; }
  .chat-bubble {
    height: auto;
    width: 70%; }
  /* sobre mi */
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto auto;
    grid-template-areas: "titulo2" "perfil2" "estudios2" "herramientas2";
    align-content: center;
    gap: 30px; }
  .sobremi_titulo {
    font-size: 60px; }
  .estudios_contenido {
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    padding-top: 20px;
    box-shadow: -7px 5px 0px #414698;
    padding-left: 40px; }
  .perfil_contenido {
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: -7px 5px 0px #414698;
    padding-top: 20px;
    padding-left: 40px; }
  .herramientas_contenido {
    background-color: aliceblue;
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: -7px 5px 0px #414698;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px; }
  .sobremi {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    max-height: auto;
    margin-bottom: 60px; }
  .sobremi_items {
    margin-top: 20px;
    display: flex;
    flex-direction: row; }
  .sobremi_subtitulo {
    font-size: 25px;
    margin-bottom: 10px; }
  .sobremi_p {
    color: #414698;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
    margin-right: 20px; }
  label {
    padding-right: 10px;
    font-size: 17px; }
  .medidor {
    width: 50%;
    height: 20px;
    appearance: none;
    -webkit-appearance: none; }
  .medidor::-webkit-progress-bar {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #414698; }
  .medidor::-webkit-progress-value {
    background-color: #414698;
    border-radius: 10px; }
  .barra {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between; }
  .barra_texto {
    color: #414698;
    font-family: "Roboto", sans-serif; }
  /* portfolio WEB */
  .portfolio_imagen2 {
    display: none !important; }
  .portfolio_barra2 {
    background-color: #70b72d;
    height: 20px;
    width: 90%; }
  .portfolio_contenido2 {
    height: 150px;
    width: 90%; }
  .portfolio_subtitulo2 {
    font-size: 50px; }
  .chat-bubble3 {
    height: 100px;
    width: 80%;
    margin-left: 5%; }
  .portfolio_subtitulo3 {
    font-size: 50px;
    text-align: center; }
  .box5 {
    width: 90%;
    height: 65px; }
  .portfolio_video2 {
    height: 200px; }
  .portfolio_video2 img {
    height: 100%; }
  /* contacto MQ TABLET */
  .contacto_barra {
    width: 80%;
    margin-left: 10%; }
  .container_contacto {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px; }
  .redes_subtitulo {
    font-size: 40px;
    margin-bottom: 20px; }
  .redes {
    width: 90%;
    height: 100px;
    margin-left: 5%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px; }
  .redes_sociales {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-right: 40px; } }

/* --------------------768-------------------------------------- */
@media screen and (max-width: 768px) {
  .video_video {
    display: none; } }

/* ---------------------600------------------------------------ */
@media screen and (max-width: 600px) {
  .sobremi {
    flex-direction: column; }
  .ventana_carita {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -35px;
    top: 70px; }
  .sobremi_titulo {
    font-size: 60px; }
  .carita, .carita2 {
    display: none !important; }
  .estudios_contenido {
    height: auto; }
  .encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5 {
    font-size: 13px; }
  .encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4 {
    font-size: 12px; }
  .encabezado_estrella1 {
    display: none; }
  .encabezado_texto1 {
    display: none; }
  .encabezado {
    height: 20px; }
  .logo_marca {
    margin-left: 10px;
    margin-right: 10px; }
  .nav_lista {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 20px; }
  .ventana_nombre {
    background-color: aliceblue;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: 5px 3px 0px #e26628; }
  .ventana {
    background-color: #eb5b29;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    border: 2px solid #414698;
    box-shadow: 5px 3px 0px #e26628; }
  .minimizar {
    width: 15px;
    height: 15px; }
  .maximizar {
    width: 15px;
    height: 15px; }
  .cerrar {
    width: 15px;
    height: 15px;
    margin-right: 1rem; }
  .icons {
    color: aliceblue;
    font-size: 10px; }
  .lucas {
    font-size: 50px;
    text-shadow: 0.1rem 0.1rem #ffdd55;
    margin-top: 20px; }
  .dosdos {
    font-size: 40px;
    text-shadow: -0.1rem 0.1rem #eb5b29; }
  .bienvenido {
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid #eb5b29;
    border-radius: 0.5rem;
    font-size: 15px; }
  .ventana2 {
    width: 80%;
    margin-left: 10%; }
  .ventana_perfil {
    height: 500px;
    width: 80%;
    gap: 20px;
    margin-left: 10%;
    flex-direction: column; }
  .ventana_perfil img {
    margin-top: -20px;
    width: 230px;
    height: 230px; }
  .minimizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .maximizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .cerrar2 {
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 1rem; }
  button svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    color: #e26628;
    transition: transform 0.3s; }
  button:hover svg {
    transform: scale(1); }
  .chat-bubble {
    height: auto;
    font-size: 15px;
    width: 80%; }
  .footer {
    color: white;
    background-color: #414698;
    height: auto;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around; }
  /* WEB */
  .portfolio_barra {
    width: 80%;
    margin-left: 10%; }
  .portfolio_contenido {
    height: 150px;
    width: 80%;
    margin-left: 10%; }
  .portfolio_subtitulo {
    font-size: 40px;
    text-shadow: -0.2rem 0.1rem #414698; }
  .trabajo_titulo {
    font-size: 40px; }
  .trabajo_subtitulo {
    font-size: 40px;
    margin-left: 0%; }
  .chat-bubble2 {
    width: 85%;
    margin-left: 7.5%; }
  .chat-bubble2::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%; }
  .box3 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    border-radius: 15px;
    background: #e26628;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; }
  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #e26628;
    border-top: 15px solid #e26628;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px; }
  .portfolio_video {
    width: 100%;
    margin-left: 0%;
    height: 300px; }
  .imagen_web {
    height: 300px;
    width: 100%; }
  /* contacto MQ movil */
  .contacto_barra {
    width: 80%;
    margin-left: 10%; }
  .container_contacto {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px; }
  .redes_subtitulo {
    font-size: 40px;
    margin-bottom: 20px; }
  .redes {
    width: 90%;
    height: 100px;
    margin-left: 5%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px; }
  .redes_sociales {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-right: 40px; }
  .video_video, .video_video1 {
    display: none !important; }
  .imagen_web {
    height: auto;
    width: 100%; } }

/* ----------------436-------------------------------- */
@media screen and (max-width: 436px) {
  .encabezado_texto {
    font-size: 8px; }
  .navbar-expand-lg {
    margin-bottom: 20px;
    height: 50px; }
  .ventana_carita {
    width: 50px;
    height: 50px;
    left: -25px;
    top: 50px; }
  .carita, .carita2 {
    display: none !important; }
  .estudios_contenido {
    height: auto; }
  .encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5 {
    font-size: 11px; }
  .encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4 {
    font-size: 11px; }
  .encabezado_estrella1, .encabezado_estrella4 {
    display: none; }
  .encabezado_texto1, .encabezado_texto5 {
    display: none; }
  .encabezado {
    height: 20px; }
  .logo_marca {
    margin-left: 10px;
    margin-right: 10px; }
  .ventana_nombre {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: 5px 3px 0px #e26628; }
  .ventana {
    background-color: #eb5b29;
    height: 30px;
    width: 80%;
    margin-left: 10%;
    border: 2px solid #414698;
    box-shadow: 5px 3px 0px #e26628; }
  .minimizar {
    width: 10px;
    height: 10px; }
  .maximizar {
    width: 10px;
    height: 10px; }
  .cerrar {
    width: 10px;
    height: 10px;
    margin-right: 1rem; }
  .icons {
    color: aliceblue;
    font-size: 5px; }
  .lucas {
    font-size: 30px;
    text-shadow: 0.1rem 0.1rem #ffdd55;
    margin-top: 10px; }
  .dosdos {
    font-size: 25px;
    text-shadow: -0.1rem 0.1rem #eb5b29; }
  .bienvenido {
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid #eb5b29;
    border-radius: 0.5rem;
    font-size: 15px; }
  .ventana2 {
    width: 80%;
    height: 30px;
    margin-left: 10%; }
  .ventana_perfil {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    flex-direction: column; }
  .ventana_perfil img {
    margin-top: 20px;
    margin-bottom: -10px;
    width: 150px;
    height: 150px; }
  .minimizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .maximizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .cerrar2 {
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 1rem; }
  button svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    color: #e26628;
    transition: transform 0.3s; }
  button:hover svg {
    transform: scale(1); }
  .chat-bubble {
    height: auto;
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px; }
  .portfolio_barra {
    width: 80%;
    margin-left: 0%;
    box-shadow: -5px 7px 0px #414698; }
  .portfolio_contenido {
    height: auto;
    margin-left: 0%;
    padding: 10px;
    margin-bottom: -20px;
    box-shadow: -5px 7px 0px #414698; }
  .portfolio_subtitulo {
    font-size: 40px;
    text-shadow: -0.2rem 0.1rem #414698; }
  .trabajo_titulo {
    font-size: 45px;
    text-shadow: -0.2rem 0.1rem #414698; }
  .trabajo_subtitulo {
    font-size: 40px;
    margin-left: 0%; }
  .chat-bubble2 {
    width: 80%;
    margin-left: 0%;
    font-size: 13px;
    margin-bottom: -20px; }
  .chat-bubble2::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    font-size: 10px;
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%; } }

/* ----------------------320---------------------------------- */
@media screen and (max-width: 320px) {
  .encabezado_texto {
    font-size: 8px; }
  .navbar-expand-lg {
    margin-bottom: 20px;
    height: 50px; }
  .ventana_carita {
    width: 50px;
    height: 50px;
    left: -25px;
    top: 50px; }
  .carita, .carita2 {
    display: none !important; }
  .estudios_contenido {
    height: auto; }
  .encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5 {
    font-size: 11px; }
  .encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4 {
    font-size: 11px; }
  .encabezado_estrella1, .encabezado_estrella4 {
    display: none; }
  .encabezado_texto1, .encabezado_texto5 {
    display: none; }
  .encabezado {
    height: 20px; }
  .logo_marca {
    margin-left: 10px;
    margin-right: 10px; }
  .ventana_nombre {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: 5px 3px 0px #e26628; }
  .ventana {
    background-color: #eb5b29;
    height: 30px;
    width: 80%;
    margin-left: 10%;
    border: 2px solid #414698;
    box-shadow: 5px 3px 0px #e26628; }
  .minimizar {
    width: 10px;
    height: 10px; }
  .maximizar {
    width: 10px;
    height: 10px; }
  .cerrar {
    width: 10px;
    height: 10px;
    margin-right: 1rem; }
  .icons {
    color: aliceblue;
    font-size: 5px; }
  .lucas {
    font-size: 30px;
    text-shadow: 0.1rem 0.1rem #ffdd55;
    margin-top: 10px; }
  .dosdos {
    font-size: 25px;
    text-shadow: -0.1rem 0.1rem #eb5b29; }
  .bienvenido {
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid #eb5b29;
    border-radius: 0.5rem;
    font-size: 15px; }
  .ventana2 {
    width: 80%;
    height: 30px;
    margin-left: 10%; }
  .ventana_perfil {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    flex-direction: column; }
  .ventana_perfil img {
    margin-top: 20px;
    margin-bottom: -10px;
    width: 150px;
    height: 150px; }
  .minimizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .maximizar2 {
    width: 15px;
    height: 15px;
    text-align: center; }
  .cerrar2 {
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 1rem; }
  button svg {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    color: #e26628;
    transition: transform 0.3s; }
  button:hover svg {
    transform: scale(1); }
  .chat-bubble {
    height: auto;
    font-size: 15px;
    width: 80%;
    margin-bottom: 20px; }
  .footer {
    color: white;
    background-color: #414698;
    height: auto;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around; }
  /* sobre mi */
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto auto;
    grid-template-areas: "titulo2" "perfil2" "estudios2" "herramientas2";
    align-content: center;
    gap: 30px; }
  .sobremi_titulo {
    font-size: 40px; }
  .estudios_contenido {
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    padding-top: 20px;
    box-shadow: -7px 5px 0px #414698;
    padding-left: 20px; }
  .perfil_contenido {
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: -7px 5px 0px #414698;
    padding-top: 20px;
    padding-left: 20px; }
  .herramientas_contenido {
    background-color: aliceblue;
    height: auto;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: -7px 5px 0px #414698;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; }
  .sobremi {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    max-height: auto;
    margin-bottom: 60px; }
  .sobremi_items {
    margin-top: 20px;
    display: flex;
    flex-direction: row; }
  .sobremi_subtitulo {
    font-size: 20px;
    margin-bottom: 10px; }
  .sobremi_p {
    color: #414698;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 20px; }
  label {
    padding-right: 10px;
    font-size: 15px; }
  .medidor {
    width: 40%;
    height: 13px;
    appearance: none;
    -webkit-appearance: none; }
  .medidor::-webkit-progress-bar {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #414698; }
  .medidor::-webkit-progress-value {
    background-color: #414698;
    border-radius: 10px; }
  .barra {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between; }
  .barra_texto {
    color: #414698;
    font-family: "Roboto", sans-serif; }
  /* PORTFOLIO */
  .portfolio_barra {
    width: 80%;
    margin-left: 0%;
    box-shadow: -5px 7px 0px #414698; }
  .portfolio_contenido {
    height: auto;
    margin-left: 0%;
    margin-bottom: -20px;
    box-shadow: -5px 7px 0px #414698;
    padding: 10px; }
  .portfolio_subtitulo {
    font-size: 30px;
    text-shadow: -0.2rem 0.1rem #414698; }
  .trabajo_titulo {
    font-size: 35px;
    text-shadow: -0.2rem 0.1rem #414698; }
  .trabajo_subtitulo {
    font-size: 40px;
    margin-left: 0%; }
  .chat-bubble2 {
    width: 80%;
    margin-left: 0%;
    font-size: 13px;
    margin-bottom: -20px; }
  .chat-bubble2::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    font-size: 10px;
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%; }
  .box3 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    border-radius: 15px;
    background: #e26628;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; }
  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #e26628;
    border-top: 15px solid #e26628;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px; }
  .portfolio_video {
    width: 100%;
    height: auto; }
  .imagen_web {
    height: auto;
    width: 100%; } }
