*{
    margin: 0;
    padding: 0;
}


.body{
background-image: url(../img/fondo.jpg);
}

.body_sobremi{
    background-image: url(../img/fondoazul.jpg);
}

.body_portfolio{
    background-image: url(../img/fondoblanco.jpg);
}
