/* CONTACTO */

.contacto_subtitulo{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 2px $color-azul;
    font-size: 50px;
    text-shadow: -0.3rem 0.2rem $color-naranja;
    text-align: center;
}

.contacto_barra{
    background-color: $color-azul;
    height: 30px;
    width: 50%;
    margin-left: 25%;
    border: 3px solid $color-azul;
    box-shadow: -10px 12px 0px $color-naranja;
  
}

.container_contacto{
    background-color: white;
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 70px;
    border: 3px solid $color-azul;
    border-top: none;
    box-shadow: -10px 12px 0px $color-naranja;
    padding: 30px;
}


.bi-telephone-fill, .bi-person-fill, .bi-envelope-fill, .bi-chat-left-fill, .bi-linkedin, .bi-behance, .bi-github{
    color: $color-azul;
}



label{
   color: $color-azul;
   font-family: $fuente-textos;
   font-size: 0.8rem;
    }

::placeholder{
    font-family: $fuente-textos;
    font-size: 0.8rem;
}

.btn{
    margin-top: 20px;
    background-color:  $color-azul !important;
}


.redes_subtitulo{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 2px $color-azul;
    font-size: 45px;
    text-shadow: -0.3rem 0.2rem $color-naranja;
    text-align: center;
}

.redes{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.redes_sociales{
width: 50%;
flex-direction: row;
@include crearFlex(flex-end, stretch);
gap: 20px;
margin-right: 40px;
}

.box4 {
    width: 100%;
    height: 80px;
    border-radius: 15px;
    background: $color-naranja;
    font-family: $fuente-textos;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  .sb15:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid $color-naranja;
    border-top: 15px solid $color-naranja;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }

  .contacto_enviar{
     background-color: $color-azul;
     color: #fff;
     font-family: $fuente-titulos;
     width: 100px;
     height: 30px;
     @include crearFlex(center, center);
     border-radius: 5px;
  }
