/* CONTACTO */

.contacto_subtitulo{
    color: #ffdd55;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 2px #414698;
    font-size: 50px;
   text-shadow: -0.3rem 0.2rem #ea4d2c;
   text-align: center;
}

.contacto_barra{
    background-color: #414698;
    height: 30px;
    width: 50%;
    margin-left: 25%;
    border: 3px solid #414698;
    box-shadow: -10px 12px 0px #ea4d2c;
  
}

.container_contacto{
    background-color: white;
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 70px;
    border: 3px solid #414698;
    border-top: none;
    box-shadow: -10px 12px 0px #ea4d2c;
    padding: 30px;
}


.bi-telephone-fill, .bi-person-fill, .bi-envelope-fill, .bi-chat-left-fill, .bi-linkedin, .bi-behance, .bi-github{
    color: #414698;
}



label{
   color: #414698;
   font-family: 'Roboto', sans-serif;
   font-size: 0.8rem;
    }

::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.btn{
    margin-top: 20px;
    background-color:  #414698 !important;
}


.redes_subtitulo{
    color: #ffdd55;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 2px #414698;
    font-size: 45px;
   text-shadow: -0.3rem 0.2rem #ea4d2c;
   text-align: center;
}

.redes{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.redes_sociales{
width: 50%;
display: flex;
flex-direction: row;
gap: 20px;
justify-content: end;
margin-right: 40px;
}

.box4 {
    width: 100%;
    height: 80px;
    border-radius: 15px;
    background: #e26628;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  .sb15:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #e26628;
    border-top: 15px solid #e26628;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }

  .contacto_enviar{
     background-color: #414698;
     color: #fff;
     font-family: 'Roboto', sans-serif;
     width: 100px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
  }
