/* FOOTER */

.footer{
    color: white;
    background-color: $color-azul;
    height: 70px;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    @include crearFlex(center, center);
}

.titulo_footer{
    font-family: $fuente-titulos;
    font-size: 16px;
    margin-bottom: -5px;
}

.footer_redes{
    display: flex;
    gap: 10px;
}

svg:hover  {
    transform: scale(1.2);
}

