/* FOOTER */

.footer{
    background-color: #414698;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_coderhouse{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}