/* FOOTER */

.footer{
    color: white;
    background-color: $color-azul;
    height: 70px;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    @include crearFlex(center, center);
    justify-content: space-around;
}

.footer_titulo{
    font-family: $fuente-titulos;
    font-size: 16px;
    margin-bottom: -5px;
}

.footer_subtitulo{
    font-family: $fuente-textos;
    font-size: 10px;
    margin-bottom: -3px;
}

.footer_copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_redes{
    display: flex;
    gap: 10px;
}

.footer_redes svg{
    color: white;
}


.footer_redes svg:hover  {
    color: $color-amarillo;
    transform: scale(1.2);
}

