
.header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.encabezado{
    background-color: $color-azul;
    width: 100%;
    height: 30px;
    flex-flow: row nowrap;
    @include crearFlex(space-evenly, center !important);
    margin: 0 auto; 
}

.encabezado_texto1, .encabezado_texto2, .encabezado_texto3, .encabezado_texto4, .encabezado_texto5{
    color: $color-amarillo;
    font-family: 'Staatliches', cursive;
    font-size: 19px;
}

.encabezado_estrella1, .encabezado_estrella2, .encabezado_estrella3, .encabezado_estrella4{
    color: $color-naranja;
    font-family: 'Staatliches', cursive;
    font-size: 18px;  
}

.logo_marca{
    color: $color-amarillo;
    font-family: 'Staatliches', cursive; 
    margin-left: 25px;
    margin-right: 25px;
}


/* NAV */

.nav-link{
    text-decoration: none;
    text-decoration: #fff;
}

.nav-link.active {
   color: $color-amarillo !important;
  }


.navbar-expand-lg{
    background-color: $color-naranja;
    margin-bottom: 20px;
    height: 60px;
}

.navbar-toggler{
 color: $color-naranja !important;
 background-color: $color-amarillo !important;
 width: 40px;
 height: 30px;
}

.navbar-toggler-icon{
    background-color: $color-amarillo;
    width: 15px;
    height: 20px ;
    margin-top: -5px;
}

.nav-link, .dropdown-item{
    color: #fff !important;
}

.nav-link:hover{
    color: $color-amarillo !important;
}

.dropdown-item:hover{
    background-color: $color-naranja;
    color: $color-amarillo !important;
}

.dropdown-menu {
    background-color: $color-naranja;}

.navbar-collapse{
    background-color: $color-naranja;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

.carita:hover, .carita2:hover{
        transform: scale(1.2);  
}




