
.header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.encabezado{
    background-color: $color-azul;
    width: 100%;
    height: 30px;
    flex-flow: row nowrap;
    @include crearFlex(space-evenly, center !important);
    margin: 0 auto; 
}

.encabezado_texto{
    color: $color-amarillo;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
   
}

.encabezado_estrella{
    color: $color-naranja;
    font-family: 'Staatliches', cursive;
    font-size: 18px;  
}

.logo_marca{
    color: $color-amarillo;
    font-family: 'Staatliches', cursive; 
    margin-left: 25px;
    margin-right: 25px;
}


/* NAV */

.nav-link{
    text-decoration: none;
    text-decoration: #fff;
}

.navbar{
    background-color: $color-naranja;
    margin-bottom: 30px;
}

a{
    color: #fff !important;
}

a:hover{
    color: $color-amarillo !important;
}

.dropdown-menu {
    background-color: $color-naranja;}
