
.ventana{
    background-color: $color-naranja;
    height: 50px;
    width: 60%;
    margin-left: 20%;
    flex-direction: row;
    @include crearFlex(flex-end, center);
    gap: 0.3rem;
    border: 3px solid $color-azul;
    box-shadow: 7px 5px 0px $color-naranja;
}

.minimizar{
    background-color: $color-azul;
    width: 30px;
    height: 30px;
    @include crearFlex(center, center);
}

.maximizar{
    background-color: $color-azul;
    width: 30px;
    height: 30px;
    @include crearFlex(center, center);
}

.cerrar{
    background-color: $color-azul;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    @include crearFlex(center, center);
}

.icons{
    color: aliceblue;
    font-family: $fuente-titulos;
}

.ventana_nombre{
    background-color: aliceblue;
    height: 310px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    border: 3px solid $color-azul;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    box-shadow: 7px 5px 0px $color-naranja;
    position: relative;
}

.lucas{
    font-family: $fuente-titulos;
    color: $color-naranja;
    font-size: 80px;
    text-shadow: 0.3rem 0.2rem $color-amarillo;
    margin-top: 30px;
}

.ventana_carita {
    width: 90px;
    height: 90px;
    position: absolute;
    left: -40px;
    top: 130px;
   }


.dosdos{
    font-family: $fuente-titulos;
    color: $color-amarillo;
    font-size: 60px;
    text-shadow: -0.3rem 0.1rem $color-naranja;
}

.bienvenido{
    width: 200px;
    height: 60px;
    background-color: aliceblue;
    border: 2px solid $color-naranja;
    border-radius: 1rem;
    font-family: $fuente-titulos;
    font-size: 25px;
    color: $color-naranja;
    @include crearFlex(center, center);
}

button svg {
    width: 25px;
    height: 25px;
    margin-left: 6px;
    color: $color-naranja;
    transition: transform 0.3s;
 }
   
   button:hover svg {
    transform: scale(1.2);
}

.ventana2{
    background-color: $color-azul;
    height: 50px;
    width: 70%;
    margin-left: 15%;
    flex-direction: row;
    @include crearFlex(flex-end, center);
    gap: 0.3rem;
    border: 3px solid $color-azul;
    box-shadow: 7px 5px 0px $color-naranja;
}

.ventana_perfil{
    background-color: aliceblue;
    height: 280px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
    border: 3px solid $color-azul;
    border-top: none;
    box-shadow: 7px 5px 0px $color-naranja;
    flex-direction: row;
    @include crearFlex(center, center);
    gap: 2rem;
}

.minimizar2{
    width: 30px;
    height: 30px;
    @include crearFlex(center, center);
}

.maximizar2{
    width: 30px;
    height: 30px;
    @include crearFlex(center, center);
}

.cerrar2{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    @include crearFlex(center, center);
}

.ventana_perfil img{
    width: 200px;
    height: 200px;
 }
 

 .chat-bubble {
    --c: #ff703b;
    background: var(--c);
    color: #fff;
    font-family: $fuente-textos;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .chat-bubble::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;
}




