/* PORTFOLIO VIDEOS */

.portfolio_barra{
    background-color:#70b72d;
    height: 20px;
    width: 100%;
    border: 2px solid #414698;
    box-shadow: -7px 12px 0px #414698;
  
}

.video_video{
    width: 80%;
    box-shadow: 8px 6px 0px #e26628;
    margin-left: 10%;
}



.portfolio_contenido{
    background-color: aliceblue;
    height: 200px;
    width: 100%;
    border: 2px solid #414698;
    border-top: none;
    box-shadow: -7px 12px 0px #414698;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_subtitulo{
    color: #ffdd55;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 0.01px #414698;
    font-size: 70px;
   text-shadow: -0.3rem 0.2rem #414698;
   text-align: center;
}


.trabajo_titulo{
    color: #ffdd55;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 0.01px #414698;
    font-size: 50px;
   text-shadow: -0.3rem 0.1rem #414698;
   text-align: center;
}

.trabajo_container{
    width: 90%;
    height: auto;
    margin-left: 5%;
    background-color: #ffdd55;
    border: 4px solid #414698;
    padding: 20px;
}

.trabajo_subtitulo{
    color: #e26628;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 0.01px #414698;
    font-size: 50px;
    text-shadow: -0.3rem 0.1rem #fff;
    text-align: center;
    margin-left: 10%;
}

.chat-bubble2{
    --c: #414698;
    background: var(--c);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    height: auto;
    width: 75%;
    margin-left: 15%;
    display: flex;
    align-items: center;
  }

  .chat-bubble2::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;
}


.portfolio_subtitulo2{
    color: #ffdd55;
    font-family: 'Fugaz One', cursive;
    -webkit-text-stroke: 0.01px #414698;
    font-size: 40px;
    text-shadow: -0.3rem 0.2rem #414698;
    text-align: center;
}


.box3 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    border-radius: 15px;
    background: #e26628;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #e26628;
    border-top: 15px solid #e26628;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }


  .portfolio_video{
      width: 90%;
      margin-left: 5%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 4px 0px #e26628;
  }

  .imagen_web{
      width: 100%;
      height: 500px;
  }

  .portfolio_video iframe{
      width: 100%;
      height: 100%;
  }