/* PORTFOLIO VIDEOS */

.portfolio_barra{
    background-color:#70b72d;
    height: 20px;
    width: 100%;
    border: 2px solid $color-azul;
    box-shadow: -7px 12px 0px $color-azul;
}

.video_video{
    width: 80%;
    box-shadow: 8px 6px 0px $color-naranja;
    margin-left: 10%;
}

.portfolio_contenido{
    background-color: aliceblue;
    height: 200px;
    width: 100%;
    border: 2px solid $color-azul;
    border-top: none;
    box-shadow: -7px 12px 0px $color-azul;
    @include crearFlex(center, center);
}

.portfolio_subtitulo{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 0.01px $color-azul;
    font-size: 50px;
    text-shadow: -0.2rem 0.1rem $color-azul;
    text-align: center;
}

.trabajo_titulo{
     color: $color-amarillo;
     font-family: $fuente-titulos;
    -webkit-text-stroke: 0.01px $color-azul;
    font-size: 50px;
    text-shadow: -0.3rem 0.1rem $color-azul;
    text-align: center;
}

.col-sm-6{
 justify-content: center !important;
 gap: 20px !important;
}

.trabajo_subtitulo{
    color: $color-naranja;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 0.01px $color-azul;
    font-size: 50px;
    text-shadow: -0.3rem 0.1rem #fff;
    text-align: center;
    margin-left: 10%;
}

.chat-bubble2{
    --c: #414698;
    background: var(--c);
    color: #fff;
    font-family: $fuente-textos;
    font-size: 15px;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0 0.25em 0.25em 0.25em;
    height: auto;
    width: 75%;
    margin-left: 15%;
    display: flex;
    align-items: center;
}

.chat-bubble2::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    right: 100%;
    top: 0%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;
}

.portfolio_subtitulo2{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 0.01px $color-azul;
    font-size: 40px;
    text-shadow: -0.3rem 0.2rem $color-azul;
    text-align: center;
}

.card{
    margin-bottom: 20px;
}

.card-title{
    font-family: $fuente-titulos;
    color: $color-amarillo;
}

.card-body{
    background-color: $color-azul;
}

.card-text{
    color: white;
    font-family: $fuente-textos;
    font-size: 13px;
}

.btn{
    background-color: $color-naranja !important;
    color: white;
    font-family: $fuente-textos;
    font-size: 13px;
}

.modal-title{
    font-family: $fuente-titulos;
    color: #414698;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: $color-naranja;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px $color-amarillo;
}
  
.button:hover {background-color: #ef7335}
  
.button:active {
    background-color: $color-naranja;
    box-shadow: 3px 3px #f9cc19;
    transform: translateY(4px);
}

.box3 {
    width: 80%;
    margin-left: 10%;
    height: auto;
    border-radius: 15px;
    background: $color-naranja;
    font-family: $fuente-textos;
    font-size: 13px;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid $color-naranja;
    border-top: 15px solid $color-naranja;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.portfolio_video{
    width: 100%;
}

.imagen_web{
    width: 100%;
}

.portfolio_video iframe{
    width: 100%;
}