/* SOBRE MI */

.sobremi_titulo{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 0.01rem $color-azul;
    font-size: 75px;
    text-shadow: -0.5rem 0.3rem $color-azul;
    text-align: center;
}


.estudios_barra{
       background-color: $color-amarillo;
       height: 50px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
}
   
.minimizar3{
       width: 30px;
       height: 30px;
       text-align: center;
}
   
.maximizar3{
       width: 30px;
       height: 30px;
       text-align: center; 
}
   
.cerrar3{
       width: 30px;
       height: 30px;
       text-align: center;
       margin-right: 1rem;
}
   
   
.estudios_contenido{
       background-color: aliceblue;
       height: auto;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       padding-top: 20px;
       box-shadow: -7px 5px 0px $color-azul;
 }
   

.perfil_barra{
       background-color: $color-amarillo;
       height: 50px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
}


.perfil_contenido{
       background-color: aliceblue;
       height: auto;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       box-shadow: -7px 5px 0px $color-azul;
       padding-top: 20px;
}


.herramientas_barra{
       background-color: $color-amarillo;
       height: 50px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
 }


.herramientas_contenido{
       background-color: aliceblue;
       height: auto;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       box-shadow: -7px 5px 0px $color-azul;
       padding-top: 20px;

}

.sobremi{
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 5rem;
       margin-top: 5rem;
       width: 80%;
       max-height: auto;
}

.sobremi_grid{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 100px 1fr 1fr;
       grid-template-areas: 
           "titulo2 herramientas2"
           "estudios2 herramientas2"
           "perfil2 herramientas2";
           gap: 20px 40px;
}

   
     .titulo{
           grid-area: titulo2;
          justify-self: center;
          align-self: center;
       }

       .perfil{
           grid-area: perfil2;
       }

       .estudios{
           grid-area: estudios2;
       }

       .herramientas{
           grid-area: herramientas2;
       }


.sobremi_items{
   margin-top: 20px;
   display: flex;
   flex-direction: row;

}

.sobremi_subtitulo{
   color: $color-azul;
   font-family: 'Staatliches', cursive;
   font-size: 30px;
   margin-bottom: 20px;
   margin-left: 30px;
}


.bi-journal, .bi-journal-code, .bi-journal-album, .bi-person, .bi-calendar, .bi-pin-map{
   color: $color-azul;
   margin-left: 30px;
   margin-bottom: 5px;
}

.sobremi_p{
   color: $color-azul;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 20px;
   margin-left: 30px;
   margin-right: 20px;
}

label {
   padding-right: 10px;
   font-size: 1rem;
}

.medidor{
   width: 50%;
   height: 25px;
   appearance: none;
  -webkit-appearance: none;

}


.medidor::-webkit-progress-bar {
   background-color: white;
   border-radius: 10px;
   border: 3px solid $color-azul;
 }

.medidor::-webkit-progress-value {
   background-color: $color-azul;
   border-radius: 10px;
   
 }

.barra{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

.barra_texto{
   color: $color-azul;
   font-family: $fuente-textos;
}
