/* SOBRE MI */

.sobremi_titulo{
    color: $color-amarillo;
    font-family: $fuente-titulos;
    -webkit-text-stroke: 2px $color-azul;
    font-size: 60px;
    text-shadow: -0.3rem 0.3rem $color-azul;
    text-align: center;
   
}

.estudios_barra{
       background-color: $color-amarillo;
       height: 30px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
}
   
.estudios_contenido{
       background-color: aliceblue;
       height: 340px;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       padding-top: 20px;
       box-shadow: -7px 5px 0px $color-azul;
       padding-left: 20px;
 }
   

.perfil_barra{
       background-color: $color-amarillo;
       height: 30px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
}

.perfil_contenido{
       background-color: aliceblue;
       height: 185px;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       box-shadow: -7px 5px 0px $color-azul;
       padding-top: 10px;
       padding-left: 20px;
}

.herramientas_barra{
       background-color: $color-amarillo;
       height: 30px;
       width: 100%;
       flex-direction: row;
       @include crearFlex(flex-end, center);
       gap: 0.3rem;
       border: 2px solid $color-azul;
       box-shadow: -7px 5px 0px $color-azul;
 }

.herramientas_contenido{
       background-color: aliceblue;
       height: auto;
       width: 100%;
       border: 2px solid $color-azul;
       border-top: none;
       box-shadow: -7px 5px 0px $color-azul;
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 30px;

}

.sobremi{
       margin-left: auto;
       margin-right: auto;
       margin-top: 30px;
       width: 80%;
       max-height: auto;
       margin-bottom: 60px;
}

.sobremi_grid{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 65px 215px 370px;
       grid-template-areas: 
           "titulo2 herramientas2"
           "perfil2 herramientas2"
           "estudios2 herramientas2";
           gap: 20px 30px;
}

     .titulo{
           grid-area: titulo2;
       }

       .perfil{
           grid-area: perfil2;
       }

       .estudios{
           grid-area: estudios2;
       }

       .herramientas{
           grid-area: herramientas2;
       }

.sobremi_items{
   margin-top: 20px;
   display: flex;
   flex-direction: row;

}

.sobremi_subtitulo{
   color: $color-azul;
   font-family: $fuente-titulos;
   font-size: 20px;
   margin-bottom: 10px;
}

.bi-journal, .bi-journal-code, .bi-journal-album, .bi-person, .bi-calendar, .bi-pin-map{
   color: $color-azul;
   margin-bottom: 5px;
}

.sobremi_p{
   color: $color-azul;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   margin-bottom: 20px;
   margin-right: 20px;
}

label {
   padding-right: 10px;
   font-size: 15px;
}

.medidor{
   width: 50%;
   height: 20px;
   appearance: none;
  -webkit-appearance: none;

}

.medidor::-webkit-progress-bar {
   background-color: white;
   border-radius: 10px;
   border: 3px solid $color-azul;
 }

.medidor::-webkit-progress-value {
   background-color: $color-azul;
   border-radius: 10px;
 }

.barra{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.barra_texto{
   color: $color-azul;
   font-family: $fuente-textos;
}
